<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bluecove-tester-obex"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.microemu.app.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--appclass junit.framework.Assert --appclass org.bluecove.tester.log.Logger&#13;&#10;--impl com.intel.bluetooth.BlueCoveImpl&#13;&#10;org.bluecove.tester.obex.BlueCoveObexMIDlet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bluecove-tester-obex"/>
</launchConfiguration>
