#breadcrumbs {
	overflow: hidden;
	padding: 3px 10px 3px 20px;
	background-image: url(../css-images/breadcrumbs.png);
	background-repeat: repeat-x;
	border: none;
	background-color: #fff !important;
}

#bannerLeft {
  float:left;
  color: #00488F;
}

h2,h3,h4,h5 {
    color: #00488F;
}
